<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	#imgThumb{
		max-height: 27px;
	    max-width: 27px;
	    margin-left:10px;
	}
	#titleText{
		font-size: 22px;
		color: #ff7f00;
	}
	#subTitleText{
		font-size: 22px;
	}
	#scdTitleText{
		font-size: 20px;
		font-weight:bold;
	}
	#subImgThumb{
		max-height: 20px;
	    max-width: 20px;
	    margin-Right:10px;
	}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="main" class="ui-content">
  	<p>
  		<label id="titleText" style='float: left'>重点 </label>
  		<img src="../images/point1.png" id="imgThumb" style='float: left'/>
  		<label id="titleText" style='float: left'>：</label>
  		<label id="subTitleText">城北工业新城</label>
  	</p>
    <img src="../images/invplat1.png"/>
  	<p>
  		<img src="../images/subpoint.png" id="subImgThumb" style='float: left'/>
  		<label id="scdTitleText">城北工业新城</label>
  	</p>
  	<p>城北新城位于县城北面，规划面积为18.9平方公里。区块交通优势明显，杭长、申苏浙皖与申嘉湖安构成高速交通网络，已动工建设的商行高铁与规划中的链接杭州市中心的城际铁路在其北侧交汇，形成高铁站点。新城由四个区块组成，其中核心区块8.38平方公里，包括商务中心、物流区、传统工业区、大型企业区、高新产业区、综合服务区、居住区：健康产业园区块规划面积2.5平方公里，产业投资主要为药品研发及制造天然药物提取、医疗器械和医药包装、保健品、食品、化妆品等：阳光工业园区块7.7平方公里，产业类型主要为转椅、竹木加工、家具制造、五金机械、光电科技；芽芽工业区块规划面积0.3平方公里，以水泥制造、高压水泥管装及商品混泥土为主要生产项目。新城内落户企业有安工机械、谷神能源、琥珀热电等，另浙江省自然博物馆和浙江科技大学即中德工程师学院落户于此。现累计完成基础设施投入20亿元。完成60000亩征地拆迁和“七通一平”的基础设施建设，现对外招商。</p>
  	<img src="../images/invplat2.png"/>
  	<p>
  		<label id="titleText" style='float: left'>重点 </label>
  		<img src="../images/point2.png" id="imgThumb" style='float: left'/>
  		<label id="titleText" style='float: left'>：</label>
  		<label id="subTitleText">城西北工业新城</label>
  	</p>
    <img src="../images/invplat3.png"/>
  	<p>
  		<img src="../images/subpoint.png" id="subImgThumb" style='float: left'/>
  		<label id="scdTitleText">城西北工业新城</label>
  	</p>
  	<p>城西北工业新城位于县城西北面，总规划面积30平方公里。其中核心区块16平方公里、糖浦工业区块9平方公里、康山工业功能区5平方公里。量大工业区内已落户企业160家，有亚太机电、日本藤仓橡胶、台湾柏腾光电等重大工业项目，也有香港乐翻天水上乐园等优质三产类项目。区内以办公家具和竹子深加工为特色、汽车零部件和机械制造等新兴产业为结构调整主方向。</p>
  	<img src="../images/invplat4.png"/>
  	<p>
  		<label id="titleText" style='float: left'>重点 </label>
  		<img src="../images/point3.png" id="imgThumb" style='float: left'/>
  		<label id="titleText" style='float: left'>：</label>
  		<label id="subTitleText">城市新区</label>
  	</p>
    <img src="../images/invplat5.png"/>
    <p>
  		<img src="../images/subpoint.png" id="subImgThumb" style='float: left'/>
  		<label id="scdTitleText">城市新区</label>
  	</p>
  	<p>城市新区面积为15.73.平方公里，目前该新区基本建成，主要实施市政公用基础设施维护，城郊结合部、城中村旧城改造以及企业“退二进三”等工作，完善城市功能，提升城市品位。该区块的商贸用地对外招商。</p>
  	<img src="../images/invplat6.png"/>
  </div>
</div>
</body>
</html>