<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	#imgThumb{
		max-height: 60px;
	    max-width: 60px;
	    top:10px;
	    left:10px; 
	}
	#znbcy{
    	background-color:#ffa500;
    	color:white;
    	text-align:center;
    	padding:2px;
    	margin:0;
    }
    #znbcyimg{
    	margin:0;
    	padding:0;
    }
    #hlfb{
    	background-color:#9bcd9b;
    	color:white;
    	text-align:center;
    	padding:2px;
    	margin:0
    }
    #hlfbimg{
    	margin:0;
    	padding:0;
    }
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <div data-role="navbar">
      <ul>
        <li><a href="#" class="ui-btn-active ui-state-persist">开发区概况</a></li>
        <li><a href="#pagetwo">特色旅游</a></li>
        <li><a href="#pagethree">投资环境</a></li>
      </ul>
    </div>
  </div>

  <div data-role="main" class="ui-content">
    <p>浙江省安吉经济开发区位于长江三角洲经济圈腹地，“全国首个生态县”、“中国第一竹乡”、“中国美丽乡村”安吉县境内，是中国十大最佳投资环境开发区之一。</p>
    <img src="../images/intro1.png"/>
  	<p>1、发展历程。安吉经济开发区成立于1992年，1994年8月经浙江省人民政府批准为省级经济开发区。在安吉县委、县政府的大力支持下，历经多次体制、区域调整，安吉经济开发区不断发展壮大， 自2008年起连续四年名列全省省级开发区十强。2009年2月，安吉经济开发区经历了建区历史上最为重大的一次体制改革，安吉县委、县政府为整合提升、做大做强开发区，将县城递铺镇并入开发区管理，率先实践了全省首创的“区镇合一”新体制，并于2010年成功冲入全省省级开发区三甲。</p>
  	<img src="../images/intro2.png"/>
  	<p>2、发展环境。安吉经济开发区管理面积375平方公里，辖目前，开发区（递铺街道）辖26个行政村，4个农村社区和3个城市社区，地域面积237平方公里，占全县的1/8；户籍人口7.3万，占全县的1/6。区域优势明显，交通十分便利。北望太湖，南靠天目山，杭长高速、申苏浙皖高速和规划中的申嘉湖安高速穿区而过，实现与沪宁杭甬1-3小时交通圈，国家一级公路04省道、11省道一纵一横贯穿全境，西苕溪、浒溪、龙王溪、西溪四河交汇，年吞吐量20万标准箱的川达物流码头直通上海沪漕港。自然环境优美，旅游资源丰富。区内植被覆盖率75%，森林覆盖率71%，空气质量达到国家一级标准，水体质量标准达到Ⅰ、Ⅱ类，青山环抱，绿水环绕，生态宜人。国家4A级旅游区竹子博览园、灵峰山国家森林公园、中南百草原等一批精品旅游胜地独具魅力，千年古刹灵峰寺、安乐新石器时代遗址、秦朝三十六郡之一的古鄣郡、安城明清古城墙、灵芝塔、独松关等一批历史古迹以及邮驿文化均有深厚历史底蕴。</p>
  	<p>3、发展基础。安吉经济开发区截至2014年底，共有规上企业174家，总产值215亿，占全县的50%；税收24亿多，占全县的50%，占15个乡镇（街道）税收总量的80%，合并初2009年为8亿元，五年几近翻两番。其中超亿元企业30余家。重点发展竹制品、转椅家具两大传统产业和生物医药、特色机电、电子信息、装备制造四大新兴产业。目前，开发区工业平台主要由城北、城西北两大板块组成，是安吉县工业平台“金三角”的龙头。城北工业新城：规划总面积17.9 平方公里，以引进转椅家具、生物医药、电子信息、装备制造等高新技术产业以及商贸、物流产业为主。累计完成基础设施投入35亿元，落户企业115家，其中有恒林、利豪等传统转椅产业龙头型企业，又有世界500强印度塔塔茶业以及华大制茶、养生堂、绿世界、东方基因等一大批引进的新兴产业领军型企业，还有琥珀热电、洁美电子、元龙电子等一批大好高项目，新引进的央企中国物流园项目正在加快建设中，尤其是2012年底成功引进江西宜工集团投资35亿元的大型装备制造项目入驻。城西北工业新城：规划面积27.5平方公里。以引进转椅家具、竹制品等传统提升产业和绿色食品、特色机电、装备制造等新兴产业为主。累计完成基础设施投入30亿元，落户企业156家，其中有日本百年上市公司藤仓橡胶、上市公司亚太机电以及麦吉士、红剑聚合物、中力机械等一批大企业，又有奋进齿轮、正强万向节、柏腾等10余个大项目，目前位于城西北区块的新大康公司已建成投产中。</p>
  	<p>管理机构：安吉经济开发区管委会</p>
	<p>地址：浙江省湖州市安吉县递铺镇胜利西路1号(313300)</p>
  </div>
</div> 

<div data-role="page" id="pagetwo">
  <div data-role="header">
    <div data-role="navbar">
      <ul>
      	<li><a href="#pageone">开发区状况</a></li>
        <li><a href="#" class="ui-btn-active ui-state-persist">特色旅游</a></li>
        <li><a href="#pagethree">投资环境</a></li>
      </ul>
    </div>
  </div>

  <div data-role="main" class="ui-content">
    <p id="znbcy">点击进入中南百草园</p>
  	<img id="znbcyimg" src="../images/zhongnan.png" class="znbcypage"/>
  	<p id="hlfb">点击进入欢乐风暴</p>
  	<img id="hlfbimg" src="../images/huanle.png"/>
  </div>
</div> 

<div data-role="page" id="pagethree">
  <div data-role="header">
    <div data-role="navbar">
      <ul>
      	<li><a href="#pageone">开发区状况</a></li>
        <li><a href="#pagetwo">特色旅游</a></li>
        <li><a href="#" class="ui-btn-active ui-state-persist">投资环境</a></li>
      </ul>
    </div>
  </div>

  <div data-role="main" class="ui-content">
  	<img src="../images/invest.png"></img>
  	<ul data-role="listview" data-inset="true">
  		<li>
  			<a href="#">
  			<img src="../images/platform.png" id="imgThumb"/>
  			<p></p>
        	<h2>招商平台</h2>
  			</a>
  		</li>
  		<li></li>
  		<li>
        	<a href="#">
        	<img src="../images/investpros.png" id="imgThumb"/>
        	<p></p>
        	<h2>招商优势</h2>
        	</a>
      	</li>
      	<li></li>
  		<li>
        	<a href="#">
        	<img src="../images/investflow.png" id="imgThumb"/>
        	<p></p>
        	<h2>投资程序</h2>
        	</a>
      	</li>
      	<li></li>
  		<li>
        	<a href="#">
        	<img src="../images/investhotline.png" id="imgThumb"/>
        	<p></p>
        	<h2>招商热线</h2>
        	</a>
      	</li>
  	</ul>
  </div>
</div> 

</body>
</html>
