<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	#protitle{
		font-size: 25px;
	}
	#prosubtitle{
		font-size: 10px;
		color: #ff7301;
	}
	#prodesc{
		font-size: 8px;
		margin-Right:5px;
	}
	#star{
		max-height: 8px;
	    max-width: 8px;
	}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="main" class="ui-content">
    <img src="../images/znbcy/wl1.png"/>
    <div style="position: relative;">
  		<img src="../images/znbcy/wl2.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >尖叫大摆锤</label>
			<label id="prosubtitle" >本项目适合年轻人，有“三高”、孕妇等游客严禁参加</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数 <a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数 <a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl3.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #ffffff;' >KS狩猎者游戏</label>
			<label id="prosubtitle" >本项目适合年轻人，有“三高”、孕妇等游客严禁参加</label>
			<label id="prodesc" style='color: #ffffff;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #ffffff;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #ffffff;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl4.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >无敌风火轮</label>
			<label id="prosubtitle" >本项目适合年轻人，有“三高”、孕妇等游客严禁参加</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl5.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >跳跃云霄</label>
			<label id="prosubtitle" >本项目适合年轻人，有“三高”、孕妇等游客严禁参加</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl6.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >旋转飞椅</label>
			<label id="prosubtitle" >本项目适合年轻人，有“三高”、孕妇等游客严禁参加</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl7.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >激流勇进</label>
			<label id="prosubtitle" >本项目适合家庭、朋友、学生等</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl8.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >自旋滑车</label>
			<label id="prosubtitle" >本项目适合家庭、朋友、学生等</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl9.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #487629;' >挖机大比拼</label>
			<label id="prosubtitle" >本项目适合家庭、朋友、学生等</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl10.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #ffffff;' >挖机大比拼</label>
			<label id="prosubtitle" >本项目适合家庭、朋友、学生等</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  	<div style="position: relative;">
  		<img src="../images/znbcy/wl11.png"/>
  		<div style='position:absolute;top:0;left:5px'>
			<label id="protitle" style='color: #ffffff;' >儿童淘气堡</label>
			<label id="prosubtitle" >本项目适合家庭、朋友、学生等</label>
			<label id="prodesc" style='color: #000000;' >刺激推荐指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>游客欢迎指数<a style='color: #ff7301;'>★★★★★</a></label>
			<label id="prodesc" style='color: #000000;'>平缓舒适指数<a style='color: #ff7301;'>★★★★★</a></label>
		</div>
  	</div>
  </div>
</div>
</body>
</html>