<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	.food-recommend{
		border: 1px solid;
		color: #ff8700;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header" style="position: relative;">
  	<img src="../images/znbcy/ch1.png"/>
  	<div class="ui-grid-a" style='position:absolute;top:0;left:0'>
  		<div class="ui-block-a"></div>
  		<div class="ui-block-b">
	  		<label style='color: #347703;font-size: 20px;'>舌尖上的美食</label>
	  		<label style='font-size: 9px;'>
	  			安吉是一个具有1800多年历史的小县城，有“中国竹乡”的安吉人就地取材，创造了以竹笋为原料的特色美食，还有本地绿色蔬菜、在竹海中鲜嫩肥美的竹笋、竹荪、土鸡等做出多种风味的美食。
	  		</label>
	  		<label style='font-size: 8px;'>
	  			<a style='color: #347703;'>免费服务电话:</a>
	  			<a style='color: #ff8700;'>4008-076-176，0572-5217186</a>
	  		</label>
  		</div>
  	</div>
  </div>
  <div data-role="main" class="ui-content">
    <img src="../images/znbcy/ch2.png"/>
    <p style='color: #347703;font-size: 20px;'>中南旅游饭店</p>
    <p>四周无数绿树环绕，不时听闻狮虎吼啸，八哥白鹳扑翅声。菜肴以本地农家、家常菜为主，菜源基本是由景区的农业养殖基本提供，纯天然，绿色营养珍肴!</p>
    <p>
    	<label>
    		<a style='color: #347703;'>地理地点：</a>
    		位于景区的中心位置，紧临野生动物放养区、横渡鳄鱼桥、古罗马竞技场、野人表演场、山地车越野活动区
    	</label>
    </p>
    <p>
    	<label style='color: #347703;'>推荐指数：★★★★★</label>
    </p>
    <p>
    	<label style='color: #347703;'>最大容客量：<a style='color: #ff0000;'>2000</a>余人，提供免费无线WIFI</label>
    </p>
    <p>
    	<a style='color: #347703;'>预订电话：</a><a style='color: #ff8700;'>4008-076-176，0572-5217186</a>
    </p>
  </div>
  <div class="food-recommend">
  	<h1 style='color: #ff8700;text-align: center;'>美食推荐</h1>
  	<div class="ui-grid-b">
      <div class="ui-block-a"><img src="../images/znbcy/ch3.png"/></div>
      <div class="ui-block-b"><img src="../images/znbcy/ch4.png"/></div>
      <div class="ui-block-c"><img src="../images/znbcy/ch5.png"/></div>
    </div>
  </div>
</div>
</body>
</html>