<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
		img{
			max-height:100%; 
			max-width:100%;
		}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="main" class="ui-content">
  	<!-- <div style="position: relative;">
	    <img src="../images/znbcy/zs1.png"/>
	    <div class="ui-grid-a" style='position:absolute;top:0;left:10px;'>
	  		<div class="ui-block-a">
	  			<label style="color: #ffffff;font-size:16px">中南百草原园假酒店</label>
	  			<p style='color: #ffffff;font-size: 9px;'>
	  				位于涌泉湖畔，建筑精美，宽敞新颖；设施齐全、环境优雅、依山傍水，为游客休闲度假理想场所。身居度假酒店如临仙境可东视茶园、西望青山、南观碧水、北眺原野。这儿，或树摇波起，清风拂面；或风挟松香，啾啾鸟语；无市井之喧哗，似山野之情趣。同时，舒适的客房环境给您归家的感觉，优雅干净的就餐环境让您一品人间美食，多种各类功能会议室为您轻松解决问题，同时不定期举行大型的丰富多彩的活动让您乐融其中，流连忘返!
	  			</p>
	  		</div>
	  		<div class="ui-block-b">
	  		</div>
	  	</div>
  	</div> -->
  	<img src="../images/znbcy/zs1.png"/>
  	<p style="color: #000000;font-size:20px">中南百草原园假酒店</p>
  	<p style='color: #000000;font-size: 13px;'>
		位于涌泉湖畔，建筑精美，宽敞新颖；设施齐全、环境优雅、依山傍水，为游客休闲度假理想场所。身居度假酒店如临仙境可东视茶园、西望青山、南观碧水、北眺原野。这儿，或树摇波起，清风拂面；或风挟松香，啾啾鸟语；无市井之喧哗，似山野之情趣。同时，舒适的客房环境给您归家的感觉，优雅干净的就餐环境让您一品人间美食，多种各类功能会议室为您轻松解决问题，同时不定期举行大型的丰富多彩的活动让您乐融其中，流连忘返!
	</p>
  	<p style="color: #b89d47;font-size:20px">酒店客房介绍</p>
  	<label style="background-color: #b89d47;color:#ffffff;font-size:15px">木制房</label>
  	<label>全木装修，宽敞新颖，倚窗台，观碧水、北眺原野，或树摇波起，清风拂面；或风挟松香，啾啾鸟语。</label>
  	<img src="../images/znbcy/zs2.png"/>
  	<label style="background-color: #b89d47;color:#ffffff;font-size:15px">标准房</label>
  	<label>宽敞新颖，窗外望青山、北眺原野，伴着清新松香入眠。</label>
  	<img src="../images/znbcy/zs3.png"/>
  	<p style="color: #b89d47;font-size:20px">预定服务</p>
  	<p>1.至少提前一天</p>
  	<p>2.一般在预定后，客服人员会在二个工作日内于您联系，请您一定留下您的联系方式。</p>
  	<p>3.为使您的预定纪录准确有效，第二个工作日如果客服人员没有联系您，请你主动拨打全国免费服务电话：4008-076-176，谢谢您的支持！</p>
  	<h2 style='text-align: center;background-color: #a8b97c;padding:20px'>预约电话：<a style='color: #984e05;'>4008-076-176</a></h2>
  </div>
</div>
</body>
</html>