<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	.ui-table-columntoggle-btn {
	    display: none !important;
	}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header" style="position: relative;">
  	<img src="../images/hlfb/zd0.png"/>
  </div>
  <div data-role="main" class="ui-content">
    <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" border="1" id="table1">
    	<thead>
	        <tr>
	          <th>项目</th>
	          <th>内容</th>
	          <th>租金</th>
	          <th>押金</th>
	        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4">游客服务</td>
          <td>食品寄存</td>
          <td>免费</td>
          <td>免费</td>
        </tr>
        <tr>
          <td>婴儿车、轮椅</td>
          <td>免费</td>
          <td>免费</td>
        </tr>
        <tr>
          <td>宠物寄放</td>
          <td>免费</td>
          <td>免费</td>
        </tr>
        <tr>
          <td>园内救生衣</td>
          <td>免费</td>
          <td>免费</td>
        </tr>
        <tr>
          <td rowspan="2">储物室</td>
          <td>普通储物柜</td>
          <td>20</td>
          <td>0</td>
        </tr>
        <tr>
          <td>贵重物品储存</td>
          <td>20</td>
          <td>0</td>
        </tr>
        <tr>
          <td rowspan="3">浮圈租贷</td>
          <td>A类圈</td>
          <td>20</td>
          <td>20</td>
        </tr>
        <tr>
          <td>B类圈</td>
          <td>40</td>
          <td>20</td>
        </tr>
        <tr>
          <td>C类圈</td>
          <td>50</td>
          <td>20</td>
        </tr>
        <tr>
          <td>充值腕带</td>
          <td>充值腕带</td>
          <td>0</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
    <p> </p>
    <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" border="1" id="table2">
    	<thead>
	        <tr>
	          <th>收费项目</th>
	          <th>费用</th>
	          <th></th>
	        </tr>
      </thead>
      <tbody>
        <tr>
          <td>皮划艇</td>
          <td>40元／半小时／人</td>
          <td><img src="../images/hlfb/zd1.png"/></td>
        </tr>
        <tr>
          <td>香蕉船</td>
          <td>20元／人／次</td>
          <td><img src="../images/hlfb/zd2.png"/></td>
        </tr>
        <tr>
          <td>牵引浮船</td>
          <td>50元／人／次</td>
          <td><img src="../images/hlfb/zd3.png"/></td>
        </tr>
        <tr>
          <td>风驰电骋</td>
          <td>100元／人／次</td>
          <td><img src="../images/hlfb/zd4.png"/></td>
        </tr>
        <tr>
          <td>帆船</td>
          <td>50元／人／次</td>
          <td><img src="../images/hlfb/zd5.png"/></td>
        </tr>
        <tr>
          <td>体验摩托艇</td>
          <td>50元／人／次</td>
          <td><img src="../images/hlfb/zd6.png"/></td>
        </tr>
        <tr>
          <td>水上飞人</td>
          <td>2000元／2小时</td>
          <td><img src="../images/hlfb/zd7.png"/></td>
        </tr>
      </tbody>
    </table>
    <p>
    	水上乐园拥有一家水上用品零售中心，一家主题纪念品店。如果你忘记带备防晒霜或者想要一个特别的纪念品来记住这天的欢乐时刻，我们的商店几乎能满足您的一切需求。
    </p>
  </div>
</div>
</body>
</html>