<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
	img{
		max-height:100%; 
		max-width:100%;
	}
	</style>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="main" class="ui-content">
    <img src="../images/znbcy/xc1.png"/>
    <div style="position: relative;">
    	<img src="../images/znbcy/xc2.png"/>
    	<p style='position:absolute;top:0px;left:100px;color: #ffffff;font-size:20px'>公共汽车</p>
    </div>
    <p>安吉县汽车站每30分钟有班车直达中南百草园景区</p>
    <div style="position: relative;">
    	<img src="../images/znbcy/xc3.png"/>
    	<p style='position:absolute;top:0px;left:100px;color: #ffffff;font-size:20px'>高铁</p>
    </div>
    <img src="../images/znbcy/xc4.png"/>
    <p>建议乘高铁至湖州站，车站有直达安吉汽车站，之后乘公共汽车直达中南百草园景区</p>
    <div style="position: relative;">
    	<img src="../images/znbcy/xc5.png"/>
    	<p style='position:absolute;top:0px;left:100px;color: #ffffff;font-size:20px'>自驾车方式</p>
    </div>
    <p>在GPS导航上输入“中南百草原”均可直接导航到景区</p>
    <div style='background-color: #ffffff;'>
    	<p>以下列出部分自家车线路建议：<b>（进入安吉县境内路边基本都有中南百草园路标指引）</b></p>
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从杭州出发：</a></li>
  		</ul>
    	<p>杭州绕城高速—>勾庄—>杭长高速—>安吉北—>中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从上海出发：</a></li>
  		</ul>
    	<p>A9—>申苏浙皖（安徽方向）—>杭长高速—>安吉北—>中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从南京出发：</a></li>
  		</ul>
    	<p>杭宁高速（杭州方向）—>申苏浙皖（芜湖方向）—>杭长高速—>安吉北—>中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从苏州出发：</a></li>
  		</ul>
    	<p>苏嘉杭高速（嘉兴方向）—>申苏浙皖（安徽方向）—>杭长高速—>安吉北—>中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从合肥、芜湖出发：</a></li>
  		</ul>
    	<p>芜合高速（芜湖方向）—>宣广高速（广德方向）—>申苏浙皖（上海方向）—>杭长高速——安吉北——中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    	<ul>
  			<li><a style='color: #ffa500;font-size:20px'>从常州、无锡出发：</a></li>
  		</ul>
    	<p>沪宜高速（宜兴/杭州方向）—>杭宁高速（杭州方向）—>申苏浙皖（芜湖方向）—>杭长高速—>安吉北—>中南百草园</p>
    	<hr style="border-top: dotted 1px;" />
    </div>
  </div>
</div>
</body>
</html>